In [2]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
import matplotlib.pyplot as plt
# Import the API key.
from config import g_key

In [3]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Torbay,47.6666,-52.7314,25.75,75,20,2.30,CA,2022-02-19 21:38:16
1,1,Narsaq,60.9167,-46.0500,17.82,81,100,5.21,GL,2022-02-19 21:38:16
2,2,Port Hardy,50.6996,-127.4199,41.76,87,100,5.75,CA,2022-02-19 21:38:16
3,3,Lompoc,34.6391,-120.4579,74.08,68,0,12.66,US,2022-02-19 21:36:43
4,4,Ruwi,23.5996,58.5507,67.69,63,8,3.13,OM,2022-02-19 21:38:17

In [4]:
# Get the data types.
city_data_df.dtypes

City_ID         int64
City           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
Country        object
Date           object
dtype: object

In [5]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp,0) for temp in max_temp])
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig
plt.show()

In [7]:
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

In [8]:
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)

In [9]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Heatmap of percent Cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Heatmap of percent wind
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [14]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
5,5,Kununurra,-15.7667,128.7333,76.98,88,95,1.14,AU,2022-02-19 21:34:53
7,7,Vaini,-21.2000,-175.2000,84.36,79,20,5.75,TO,2022-02-19 21:38:17
11,11,Caravelas,-17.7125,-39.2481,78.48,81,31,9.48,BR,2022-02-19 21:35:40
12,12,Atuona,-9.8000,-139.0333,77.88,73,0,17.54,PF,2022-02-19 21:38:19
13,13,Salaga,8.5508,-0.5188,89.24,31,98,8.16,GH,2022-02-19 21:38:19
24,24,Paita,-5.0892,-81.1144,84.76,70,90,12.80,PE,2022-02-19 21:38:22
30,30,Rikitea,-23.1203,-134.9692,79.05,67,14,10.74,PF,2022-02-19 21:38:24
33,33,Saint-Philippe,-21.3585,55.7679,78.39,95,100,22.84,RE,2022-02-19 21:38:25
39,39,Butaritari,3.0707,172.7902,80.44,83,100,20.00,KI,2022-02-19 21:38:26
43,43,Bengkulu,-3.8004,102.2655,75.90,87,97,3.36,ID,2022-02-19 21:35:30

In [15]:
preferred_cities_df.count()

City_ID       147
City          147
Lat           147
Lng           147
Max Temp      147
Humidity      147
Cloudiness    147
Wind Speed    147
Country       146
Date          147
dtype: int64

In [16]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
5        Kununurra      AU     76.98 -15.7667  128.7333
7            Vaini      TO     84.36 -21.2000 -175.2000
11       Caravelas      BR     78.48 -17.7125  -39.2481
12          Atuona      PF     77.88  -9.8000 -139.0333
13          Salaga      GH     89.24   8.5508   -0.5188
24           Paita      PE     84.76  -5.0892  -81.1144
30         Rikitea      PF     79.05 -23.1203 -134.9692
33  Saint-Philippe      RE     78.39 -21.3585   55.7679
39      Butaritari      KI     80.44   3.0707  172.7902
43        Bengkulu      ID     75.90  -3.8004  102.2655

In [18]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [23]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping")

Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping

In [24]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
5,Kununurra,AU,76.98,-15.7667,128.7333,Hotel Kununurra
7,Vaini,TO,84.36,-21.2000,-175.2000,Keleti Beach Resort
11,Caravelas,BR,78.48,-17.7125,-39.2481,Pousada dos Navegantes
12,Atuona,PF,77.88,-9.8000,-139.0333,Villa Enata
13,Salaga,GH,89.24,8.5508,-0.5188,Bore Nada Guest House
24,Paita,PE,84.76,-5.0892,-81.1144,Hotel Náutico de Paita
30,Rikitea,PF,79.05,-23.1203,-134.9692,People ThankYou
33,Saint-Philippe,RE,78.39,-21.3585,55.7679,"Chambres d'hôte ""La Trinité"""
39,Butaritari,KI,80.44,3.0707,172.7902,Isles Sunset Lodge
43,Bengkulu,ID,75.90,-3.8004,102.2655,Grage Hotel Bengkulu

In [25]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [26]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [29]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [30]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))